<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top" style="visibility: hidden;" onload="js_Load()">

        {% include /header.html %}

        <!-- Banner -->
        <div>
            <section id="banner">
                <div class="inner">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="-200 0 450 60" style="margin: auto; position: relative; " >
<g><path fill="#fff5e7" d="M23.3,44.5v-12l9.8-5.7l9.8,5.7v11.9l23.3,13.5V19.1L33.1,0L0,19.1l0,38.8l23-13.3L23.3,44.5z M43.9,43.9V32
	l-10.8-6.3L22.3,32v11.9l-3.5,2V30l14.3-8.2L47.4,30v15.9L43.9,43.9z M5.5,53.6V22.3l27.6-16l27.6,16v31.3l-3.5-2V24.3L33,10.3
	l-24.2,14v27.4L5.5,53.6z M9.9,24.8l23.2-13.4l23.2,13.4V51l-3.5-2V26.8L33.1,15.4L13.4,26.8V49l-3.5,2V24.8z M14.4,27.4l18.7-10.8
	l18.7,10.8v21.1l-3.5-2V29.4L33,20.6l-15.3,8.8v17.1l-3.5,2V27.4H14.4z M1,19.7L33.1,1.2l32.1,18.5v36.5l-3.5-2V21.7L33.1,5.1
	L4.5,21.6v32.5l-3.5,2V19.7z" class="color color-1" data-color="#F387A9"></path></g>
</svg>
                    <h2>Bayfront Village Church</h2>
                    <h3>A Disciple-Making Community</h3>
                    <br>
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}/about.html" class="button big special">Who We Are</a></li>
                        <li><a href="{{ site.baseurl }}/beliefs.html" class="button big special">What We Believe</a></li>
                        <!--<li><a href="#elements" class="button big alt">Learn More</a></li>-->
                    </ul>
                </div>
            </section>
        </div>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
