<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <div>
            <section id="banner">
                <div class="inner">
                    <h2>Bayfront Village Church</h2>
                    <p class="overlay">A Disciple-Making Community</p>
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}/about.html" class="button big special">Who We Are</a></li>
                        <!--<li><a href="#elements" class="button big alt">Learn More</a></li>-->
                    </ul>
                </div>
            </section>
        </div>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
